
<div class="wrapper">
  <h2>Todoリスト</h2>
  <div class="router-list">
    <a routerLink="/create">Todoリスト作成へ</a>
  </div>
  <!--ステータス検索-->
  <div class="status">
    <button mat-stroked-button color="primary" (click)="doLists()">完了リスト一覧</button>
    <button mat-stroked-button color="accent" (click)="didLists()">未完了リスト一覧</button>
    <button mat-stroked-button  (click)="dodidLists()">一覧</button>
  </div>

  <!--Todoリストをステータスによって切り替えて表示-->
  <div [ngSwitch]="templateFlg">
    <!--Todoリスト一覧を表示-->
    <div *ngSwitchCase="3">
      <div class="list" *ngFor="let lists of showLists">
        <div class="list__title">
          <p class="title-text">{{lists.title}}</p>
        </div>
        <div class="list__content">
          <p class="content-text">{{lists.content}}</p>
        </div>
      </div>
    </div>
    <!--完了のTodoリストを表示-->
    <div *ngSwitchCase="1">
      <div class="list" *ngFor="let dolists of showDoLists">
        <div class="list__title">
          <p class="title-text">{{dolists.title}}</p>
        </div>
        <div class="list__content">
          <p class="content-text">{{dolists.content}}</p>
        </div>
      </div>
    </div>
    <!--未完了のTodoリストを表示-->
    <div *ngSwitchCase="2">
      <div class="list" *ngFor="let didlists of showDidLists">
        <div class="list__title">
          <p class="title-text">{{didlists.title}}</p>
        </div>
        <div class="list__content">
          <p class="content-text">{{didlists.content}}</p>
        </div>
      </div>
      </div>
    </div>
    <div class="router-logout">
      <a routerLink="/welcome">ログアウト</a>
    </div>
</div>
