h2{
  text-align: center;
  font-size: 30px;
}
.router-create{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
a{
  color: skyblue;
  font-size: 20px;
}
.title-input{
  width: 80%;
  display: block;
  margin: 40px auto;
}
.content-input{
  width: 80%;
  display: block;
  margin: 40px auto;
}
.status-input{
  margin: 40px auto;
  display: block;
  width:100%;
  text-align:center;
}
.create-btn{
  display: block;
  margin:30px auto;
}
.router-logout{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
