<div class="wrapper">
  <h2>Todoリスト作成</h2>
  <div class="router-create">
    <a routerLink="/list">Todoリストへ</a>
  </div>
  <form [formGroup]="createForm" (ngSubmit)="sub()">
    <mat-form-field class="title-input" appearance="outline">
      <mat-label>タイトル</mat-label>
      <input formControlName="createTitle" type="text" matInput required autocomplete="off">
      <mat-error *ngIf="titleControl.hasError('required')">必須入力です</mat-error>
      <mat-error *ngIf="titleControl.hasError('maxlength')">長すぎます</mat-error>
    </mat-form-field>
    <mat-form-field class="content-input">
      <mat-label>コンテンツ</mat-label>
      <input formControlName="createContent" type="text" matInput required autocomplete="off">
      <mat-error *ngIf="contentControl.hasError('required')">必須入力です</mat-error>
      <mat-error *ngIf="contentControl.hasError('maxlength')">長すぎます</mat-error>
    </mat-form-field>
    <mat-radio-group class="status-input" aria-label="Select an option" formControlName="createStatus">
      <mat-radio-button value="完了">完了</mat-radio-button>
      <mat-radio-button value="未完了">未完了</mat-radio-button>
    </mat-radio-group>
    <button [disabled]="createForm.invalid" mat-raised-button color="primary" class="create-btn">作成</button>
  </form>
  <div class="router-logout">
    <a routerLink="/welcome">ログアウト</a>
  </div>
</div>
